{% extends "index.html" %}
{% load addcss %}

{% block body %}
<div class="well well-sm">
  <h3 class="text-center" style="margin: 10px 0px">Overall Score: {{ total }}</h3>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <b>Enter VIP Codes</b>
    </div>
    <div class="panel-body">
        <form method="POST" action="{%url 'scoreboard:redemption' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="/" />
            <div class="form-group">
                {{ pointcode_form.code | addcss:"form-control input-lg"}}
            </div>
            <button type="submit" class="btn btn-default btn-block">Submit</button>
        </form>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <b>Game Scores</b>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <th>GAME</th>
                <th>SCORE</th>
            </thead>
            {% for score in scores %}
                {% if score.name %}
                    <tr>
                        <td>{{ score.name }}</td>
                        <td>{{ score.total_score }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
	    </table>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <b>Guessing Games</b>
    </div>
    <div class="panel-body">
        {% for gamesession in guessing_games %}
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center">{{ gamesession.game__name }}</h4>
                    <form method="POST" action="{% url 'scoreboard:guessing-form' id=gamesession.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="/" />
                        <div class="form-group">
                            {{ gamesession.form.guess | addcss:"form-control input-lg"}}
                        </div>
                        <button type="submit" class="btn btn-default btn-block">Submit</button>
                    </form>
                </div>
            </div>
            {% if not forloop.last %}
            <hr/>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
