{% extends "index.html" %}

{% block body %}
<ul class="nav nav-tabs" role="tablist">
{% for value in games %}
	<li role="presentation"><a href="#tab-{{ value.id }}" aria-controls="tab-{{ value.id }}" role="tab" data-toggle="tab">{{ value.name }}</a></li>
{% endfor %}
</ul>
<div class="tab-content">
	{% for value in games %}
	<div role="tabpanel" class="tab-pane" id="tab-{{ value.id }}">
	<table class="table table-bordered">
		{% for gamesession in value.gamesession_set.all %}
		{% for score in gamesession.score_set.all %}
		<thead>
			<td>NAME</td>
			<td>SCORE</td>
		</thead>
		<tr>
	    <td>{{ score.player.user.username }}</td>
			<td>{{ score.score }} </td>
		</tr>
		{% endfor %}
		{% endfor %}
	</table>
	</div>
	{% endfor %}
</div>
{% endblock %}
