<div class="row">
    <div class="col-xs-4">
        <div class="well text-center">
            <h2>1st</h2>
            <h4>{{ overall.0.first_name }} {{ overall.0.last_name }}</h4>
            <h3>{{ overall.0.score }}</h3>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well text-center">
            <h2>2nd</h2>
            <h4>{{ overall.1.first_name }} {{ overall.1.last_name }}</h4>
            <h3>{{ overall.1.score }}</h3>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="well text-center">
            <h2>3rd</h2>
            <h4>{{ overall.2.first_name }} {{ overall.2.last_name }}</h4>
            <h3>{{ overall.2.score }}</h3>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <table class="table table-bordered">
		<thead>
			<th>NAME</th>
			<th>SCORE</th>
		</thead>
		{% for score in overall|slice:"3:" %}
            <tr>
                <td>{{ score.first_name }} {{ score.last_name }}</td>
                <td>{{ score.score }}</td>
            </tr>
		{% endfor %}
	</table>
    </div>
</div>
